<!-- <h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p> -->

<div class="container">

  <h1> Add your own</h1>

  <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name, placeholder: 'Insert a name'%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Create cocktail", class: "btn-flat" %>
  <% end %>
</div>
